/* Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.header {
	position: relative;
	height: 60px;
  background: #ffffff; 
}

.hidden {
  display: none;
}

.section {
  border-top: 1px solid #f4f2f0;
}

.header img {
	display: block;
	margin: 10px auto;
	height: 40px;
}

.enjoei-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 3px;
  line-height: 25px;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;
}

.button-group {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

.enjoei-button.is-enjoei-primary {
  background-color: #f05b78;
  color: white;
  border: 1px solid #d25069;
  border-bottom-width: 3px;
  font-weight: bold;
}

.enjoei-button.is-enjoei-primary:hover {
  background-color: #fff;
  color: #d25069;
  border: 1px solid #e4e1df;
  border-bottom-width: 3px;
  font-weight: bold;
}

.enjoei-button.is-enjoei-secondary {
  color: #f05b78;
  background-color: white;
  border: 1px solid #e4e1df;
  border-bottom-width: 3px;
  font-weight: bold;
}

.enjoei-button.is-enjoei-secondary:hover {
  background-color: #f05b78;
  color: white;
  border: 1px solid #d25069;
  border-bottom-width: 3px;
  font-weight: bold;
}

.product-image {
  margin: 10px auto 10px auto;
  width: 221px;
}

.section-title {
  font-weight: 700;
}

.checkout-image {
  padding: 31px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-image img {
  border-radius: 3px;
}

.checkout-header {
  align-items: center;
  background-color: rgb(249, 248, 247);
  box-sizing: border-box;
  color: rgb(125, 122, 119);
  display: flex;
  font-size: 14px;
  font-weight: 300;
  justify-content: space-between;
  line-height: 20px;
  padding: 20px 30px;
  -moz-osx-font-smoothing: grayscale;
}

.checkout-title {
  box-sizing: border-box;
  color: rgb(91, 88, 85);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  -moz-osx-font-smoothing: grayscale;
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

ul li {
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
  overflow-y: hidden;
}

ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  padding: 5px 25px 25px 50px;
  margin: 10px auto;
  height: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li .check {
  display: block;
  position: absolute;
  border: 1px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 20px;
  left: 20px;
	z-index: 5;
	transition: border .15s linear;
	-webkit-transition: border .15s linear;
}

ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.15s linear;
	-webkit-transition: background 0.15s linear;
}

input[type=radio]:checked ~ .check::before {
  background: #f05b78;
}

input[type=radio]:checked ~ label {
  color: #f05b78;
}

.value-coupon-list {
  float: right;
  margin-right: 30px
}

.modal-container {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  max-width: 300px;
  border-radius: 10px;
  background: #fff;
  color: #5b5855;
  position: relative;
  padding: 40px;
  text-align: center;
}

.modal img {
  width: 34px;
  margin-bottom: 20px;
}

.modal p {
  color: #5b5855;
  font-weight: 500;
  font-size: 1.125em;
  margin-bottom: 10px;
}

.modal span {
  font-size: 1em;
}

.close {
  background: #f05b78;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: -30px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal .3s forwards;
}

/* Breakpoint */
@media only screen and (max-width: 460px) {
  .modal {
    max-width: 180px;
  }
}